/* Styles */
html,
body {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #343a40;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Header */
header {
  width: 100%;
  height: 85px;
  background: #1B2430;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  gap: 1rem;
}

header h1 {
  font-size: 2rem;
  padding-left: 20px;
}

header .nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header .nav-menu ul li a {
  font-size: 1.2rem;
  transition: 250ms ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

header .nav-menu ul li a:hover {
  border-bottom: 2px solid #fff;
}

.active-link {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

header .nav-menu ul .second-child {
  position: relative;
}

header .nav-menu .dropdown {
  width: 500px;
  height: auto;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, max-content));
  grid-gap: 16px;
  justify-content: center;
  top: 34px;
  left: -220px;
  background-color: #1B2430;
  text-align: center;
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px #000000; 
  box-shadow: 0px 0px 5px 0px #000000;
  margin: 0 auto;
  display: none;
}

header .nav-menu ul .second-child:hover .dropdown{
  display: grid;
}

header .nav-menu .dropdown li a {
  font-size: .9rem;
  transition: 250ms ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

header .nav-menu .dropdown li a:hover {
  border-bottom: 2px solid #fff;
}

.instant-search {
  width: 300px;
  height: 40px;
  padding-right: 20px;
}

.instant-search,
.instant-search * {
  transition: background 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search,
.instant-search__input-container {
  border-radius: 30px;
}

.instant-search__input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  width: 260px;
  height: 100%;
  padding: 6px;
  background: #eeeeee;
  margin-left: auto;
}

.instant-search__input-container:focus-within {
  background: #ffffff;
}

.instant-search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 6px;
  background: transparent;
}

header .hamburger {
  display: none;
}

@media (max-width: 1030px) {
  header nav {
    display: none;
  }

  header .instant-search {
    display: none;
  }

  header .hamburger {
    display: block;
  }

  header .header-right-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 10px;
  }
}

/* Header Mobile */
.nav-menu-mobile {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: block;
  background-color:#1b2430f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  animation: slideRight 300ms;
  transition: 0.3s;
}

.nav-menu-mobile li {
  margin: 2rem 0;
  font-size: 1.5rem;
  text-align: center;
}

header .header-right-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

@keyframes slideRight {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  background-color: #1B2430;
}

footer .footer-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 10px;
  gap: 2rem;
}

footer .footer-up .footer-up-left {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .footer-up .footer-up-left h2 {
  margin-bottom: 1rem;
}

footer .footer-up .footer-up-left p {
  line-height: 1.5;
}

@media (max-width: 714px) {
  footer .footer-up h2 {
    text-align: center;
    margin: 0 auto;
  }

  footer .footer-up p {
    text-align: center;
    margin: 0 auto;
  }
}

footer .footer-up .footer-up-right {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

@media (max-width: 714px) {
  footer .footer-up .footer-up-right nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

footer .footer-up .footer-up-right h2 {
  margin-bottom: 1rem;
}

footer .footer-up .footer-up-right nav ul li {
  margin: .6rem 0;
}

footer .footer-down {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

footer .arrow-up {
  position: fixed;
  z-index: 99;
  bottom: 2%;
  right: 1%;
  background-color: #fff;
  border-radius: 50%;
  padding: .5rem .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms ease-in-out;
  animation: fadeIn .3s;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Main Search */
.main-search {
  width: 100%;
  height: 40vh;
  background-color: #1b243086;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 4rem 10px 0 10px;
}

.main-search .main-search-cont h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 594px) {
  .main-search {
    width: 100%;
    height: 50vh;
    background-color: #1b243086;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4rem 10px 0 10px;
  }

  .main-search .main-search-cont h2 {
    text-align: center;
  }
}

.top-search {
  width: 100%;
  max-width: 800px;
  height: 60px;
  transform: translateY(30px);
}

.top-search,
.top-search * {
  transition: background 0.15s, box-shadow 0.15s;
}

.top-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.top-search,
.top-search__input-container {
  border-radius: 30px;
}

.top-search__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 6px;
  background: #eeeeee;
}

.top-search__input-container:focus-within {
  background: #ffffff;
}

.top-search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 1rem;
  background: transparent;
  font-size: 1.2rem;
}

/* Trending Movies */
.trending {
  width: 100%;
  height: auto;
  padding: 4rem;
}

.trending:first-child {
  padding-top: 8rem;
}

.trending h2 {
  font-size: 2rem;
  border-bottom: 2px solid #fff;
  width: 30%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

@media (max-width: 945px) {
  .trending h2 {
    width: 80%;
  }
}

@media (max-width: 463px) {
  .trending h2 {
    width: 100%;
    text-align: center;
  }
}

.trending .trending-wrapper {
  width: 100%;
  max-width: 1780px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  grid-gap: 16px;
  justify-content: center;
}

/* MovieCard */
.moviecard {
  width: 170px;
  height: 310px;
  cursor: pointer;
  position: relative;
  animation: fadeIn .5s;
}

.moviecard .moviecard-img {
  position: relative;
  
}

.moviecard .moviecard-img .heart-icon {
  position: absolute;
  top: 5%;
  right: 8%;
  display: none;
  animation: fadeIn .6s;
}

.moviecard:hover .moviecard-img .heart-icon {
  display: block;
}

.moviecard .moviecard-img .play-icon {
  position: absolute;
  top: 45%;
  right: 40%;
  display: none;
  animation: fadeIn .6s;
}

.moviecard:hover .moviecard-img .play-icon {
  display: block;
}

.moviecard img {
  max-width: 100%;
  border-radius: 5px;
  transition: 250ms ease-in-out;
}

.moviecard:hover img {
  opacity: .5;
  transform: scale(1.05);
}

.moviecard .moviecard-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: .2rem;
  padding: 0 5px;
}

.moviecard .moviecard-cont h4 {
  font-size: .95rem;
  font-weight: 600;
}

.moviecard .moviecard-cont .moviecard-cont-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .2rem;
}

.moviecard .moviecard-cont .moviecard-cont-div p {
  color: rgb(199, 199, 199);
}

.moviecard .season-info-count {
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.moviecard .season-info-count p {
  background-color: #fdd92a;
  color: #000;
  border-radius: 50%;
  padding: 3px 4px;
  font-size: .9rem;
}

/* Single Movie */
.single-movie {
  width: 100%;
  height: auto;
  padding: 7rem 10px 3rem 10px;
}

.loading-div {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-movie .movie-path {
  margin-bottom: 1rem;
}

.single-movie .series-path {
  margin-bottom: 1rem;
}

.single-movie .movie-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.single-movie .movie-wrapper iframe {
  width: 100%;
  max-width: 1660px;
  height: 80vh;
  font-family: inherit;
}

.empty-iframe {
  width: 100%;
  max-width: 1660px;
  height: 90vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-iframe p {
  font-size: 2rem;
  text-align: center;
}

.single-movie .movie-info {
  width: 100%;
  max-width: 1680px;
  height: auto;
  background-color: #4a525a;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem auto;
  padding: 3rem 1rem;
}

.single-movie .movie-info .movie-left img {
  border-radius: 5px;
}

.single-movie .movie-info .movie-right {
  width: 80%;
}

.single-movie .movie-info .movie-right .movie-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.single-movie .movie-info .movie-right h2 {
  font-size: 2rem;
}

.single-movie .movie-info .movie-right .description {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: justify;
}

.single-movie .movie-info .movie-right p {
  margin: .5rem 0;
}

.single-movie .movie-info .movie-right span {
  color: #E94560;
}

.single-movie .movie-info .movie-right span>.cont {
  color: #fff
}

.single-movie .movie-info .movie-right .movie-rate {
  color: #ffa600;
}

@media (max-width: 1381px) {
  .single-movie .movie-info .movie-right h2 {
    text-align: center;
  }

  .single-movie .movie-info .movie-right .movie-rate {
    text-align: center;
  }
}

.single-movie .movie-info .movie-right .movie-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.single-movie .movie-info .movie-right .movie-box:nth-child(1) {
  margin-bottom: 1rem;
}

.single-movie .movie-info .movie-right .movie-box:nth-child(2) {
  margin-bottom: 2rem;
}

.single-movie .movie-info .movie-right .movie-box .favourite-btn {
  padding: .5rem;
  outline: none;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.single-movie .movie-info .movie-right .movie-box .favourite-btn:hover {
  background-color: #343a40;
  color: #fff;
  border: 2px solid #000;
}

.single-movie .movie-info .movie-right .movie-box .trailer-btn {
  padding: .3rem 1.5rem;
  font-size: 1rem;
  outline: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-movie .movie-info .movie-right .movie-box .trailer-btn:hover {
  background-color: #343a40;
  color: #fff;
  border: 2px solid #000;
}

/* Related Movies */
.single-movie .related-movies {
  width: 100%;
  max-width: 1780px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  grid-gap: 16px;
  margin: 0 auto;
  justify-content: center;
}

.single-movie .related-movies .center {
  justify-content: center;
}

.single-movie .related-movies .start {
  justify-content: flex-start;
}

.single-movie .related-title {
  font-size: 2rem;
  border-bottom: 2px solid #fff;
  width: 30%;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

@media (max-width: 945px) {
  .single-movie .related-title {
    width: 80%;
  }
}

@media (max-width: 463px) {
  .single-movie .related-title {
    width: 100%;
    text-align: center;
  }
}

/* Series Seasons and Episodes */
.series-wrapper {
  width: 100%;
  max-width: 1680px;
  height: auto;
  background-color: #4a525a;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem auto;
  padding: 3rem 1rem;
}

@media (max-width: 700px) {
  .series-wrapper {
    flex-direction: column;
  }
}

.series-wrapper .series-left h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.series-wrapper .series-left .series-left-div .season {
  width: 100%;
  max-width: 250px;
  background-color: rgb(115, 112, 112);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  border-radius: 5px;
}

.series-wrapper .series-left .series-left-div .season p {
  width: 250px;
  background-color: rgb(115, 112, 112);
  color: #fff;
  padding: 1rem 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: space-between;
}

.series-wrapper .series-left .series-left-div .season p:hover {
  background-color: #fdd92a;
  color: #000;
}

.series-wrapper .series-left .series-left-div .season .active {
  background-color: #fdd92a;
  color: #000;
}

@media (max-width: 700px) {
  .series-wrapper .series-left .series-left-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .series-wrapper .series-left .series-left-div .season {
    margin: .5rem .5rem;
  }
}

.series-wrapper .series-right h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.series-wrapper .series-right .series-right-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.series-wrapper .series-right .series-right-div p {
  background-color: rgb(115, 112, 112);
  color: #fff;
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 250ms ease-in-out;
}

.series-wrapper .series-right .series-right-div p:hover {
  background-color: #fdd92a;
  color: #000;
}

.series-wrapper .series-right .series-right-div .active {
  background-color: #fdd92a;
  color: #000;
}

/* Search */
.search {
  width: 100%;
  height: auto;
  padding: 8rem 3rem 10rem 3rem;
}

.search h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.search h2>span {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.search .no-results {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.search .search-wrapper {
  width: 100%;
  max-width: 1880px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  grid-gap: 16px;
  justify-content: center;
}

/* Movies */
.movies {
  width: 100%;
  height: auto;
  padding: 8rem 3rem 10rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movies h2 {
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.movies .movies-box {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 443px) {
  .movies h2 {
    text-align: center;
  }
}

.movies .loadmore-btn {
  padding: .5rem 2rem;
  outline: none;
  border: 4px solid transparent;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: 250ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2rem;
  border-radius: 5px;
}

.movies .loadmore-btn:hover {
  border: 3px solid #000;
  background-color: transparent;
  color: #fff;
}

.movies .movies-wrapper {
  width: 100%;
  max-width: 1880px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  grid-gap: 16px;
  justify-content: center;
}

.movies .movies-div {
  margin-top: 2rem;
}

/* Trailer Box */
.trailer-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.75);
}

.trailer-box .trailer-box-close-btn {
  padding: .3rem 1.5rem;
  font-size: 1rem;
  outline: none;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 250ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 8%;
  right: 10%;
}

.trailer-box .trailer-box-close-btn:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.trailer-box iframe {
  width: 80%;
  height: 80vh;
  position: fixed;
  top: 14%;
  left: 10%;
  z-index: 99;
}

/* Cast Members */
.cast-members {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  padding-bottom: 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#1B2430; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cast-members .cast-member-card {
  width: 180px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}favourites

.cast-members .cast-member-card img {
  border-radius: 50%;
}

.cast-members .cast-member-card p {
  font-size: .9rem;
  text-align: center;
}

/* Favourites */
.favourites {
  width: 100%;
  height: auto;
  padding: 8rem 3rem 20rem 3rem;
}

.favourites .favourites-tabs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.favourites .favourites-tabs h2 {
  width: 100%;
  height: 75px;
  max-width: 400px;
  font-size: 2rem;
  background-color: #2b3035;
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 400px) {
  .favourites .favourites-tabs h2 {
    font-size: 1.4rem;
  }
}

.favourites .favourites-tabs .active {
  background-color: #212529;
}

.favourites .favourites-main-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.favourites .favourites-wrapper {
  width: 100%;
  max-width: 1880px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  grid-gap: 16px;
}

.favourites .favourites-wrapper .start {
  justify-content: flex-start;
}

.favourites .favourites-wrapper .center {
  justify-content: center;
}

.favourites .no-movies-p {
  font-size: 1.5rem;
  height: 32.5vh;
  text-align: center;
}

/* Login Page */
.login-page {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Movie Genres */
.genres {
  width: 100%;
  height: auto;
  padding: 8rem 3rem 10rem 3rem;
}

.genres h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.genres .genres-wrapper {
  width: 100%;
  max-width: 1880px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, max-content));
  grid-gap: 16px;
  justify-content: center;
}

.genres .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genres .loadmore-btn {
  padding: .5rem 2rem;
  outline: none;
  border: 3px solid transparent;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: 250ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2rem;
  border-radius: 5px;
}

.genres .loadmore-btn:hover {
  border: 3px solid #000;
  background-color: transparent;
  color: #fff;
}

.genres .loading-box {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* MovieInfoBox */
.movieInfoBox {
  width: 320px;
  height: 300px;
  position: absolute;
  background-color: #1B2430;
  padding: 1rem;
  top: 42%;
  left: 49%;
  border-radius: 10px;
  z-index: 3;
  transition: 150ms ease-in-out;
  -webkit-animation: fadeinout 250ms linear forwards;
  animation: fadeinout 250ms linear forwards;
  border: 1px solid #10161d;
  overflow: auto;
}

@keyframes fadeinout {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.movieInfoBox h4 {
  font-size: 1.2rem;
}

.movieInfoBox .movieInfoBox-flex {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  margin: 1rem 0;
}

.movieInfoBox .movieInfoBox-flex .quality {
  background-color: #000;
  padding: .3rem .5rem;
  border-radius: 10px;
  font-weight: 600;
}

.movieInfoBox .movieInfoBox-flex .vote {
  background-color:#ffa600;
  padding: .3rem .5rem;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
}

.movieInfoBox span {
  color: #E94560;
}

.movieInfoBox .country {
  margin: .5rem 0;
}

.movieInfoBox .genre {
  margin: .5rem 0;
}